.ContainerNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15%;
    position:absolute;
}
.menuLinks{
    display: flex;
    padding: 0px 15px;
}
.menuLinks > .btnNavbar {
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menuLinks > .btnNavbar:hover {
    color: #C26558;
    transition: 0.5s;
}
.menuBar{
    display: none;
}


@media (max-width: 750px) {
    .menuLinks{
        display: none;
    }
    .menuBar{
        display: flex;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgb(221, 221, 221);
        transition: 0.5s;

    }
    .menuBar:active{
        background-color: rgba(201, 201, 201, 0.5);
        transition: 0.2s;
    }
}